.title {
  background-color: orange;
  width: 100%;
  color: white;
  text-align: center;
  height: 40px;
  border-radius: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.image {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.links {
  font-size: 30px;
  border-radius: 30px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: orange;
  background-color: black;
  display: block;
}

.links.back {
  margin-top: 50px;
}

.image.big {
  width: 500px;
}


.para, .sub {
  text-align: center;
}

.inst {
  width: 100px;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.inst.abo {
  width: 100%;
  display: inline-block;
}

.inst.bel {
  background-color: orange;
}

.image.mar {
  margin: 15px auto 20px; 
  display:block;
}